@model MyFan_Webapp.Areas.Bands.Models.BandProfileViewModel

@{
    ViewBag.Title = "Crear";
    Layout = "~/Areas/Bands/Views/Shared/_BandProfileLayout.cshtml";
}

<head>
    <!-- jQuery Validate -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <!-- Bootstrap Select -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <!-- Style -->
    <link crossorigin="anonymous" href="~/assets/common/css/foms/Register.css" rel="stylesheet">
    <script src="~/assets/common/js/Processing.js"></script>
    <script src="~/assets/common/js/forms/AlbumCreateForm.js"></script>
    <link rel="stylesheet" href="~/assets/common/css/Profile.css">
    <!-- Bootbox -->
    <script src="~/assets/lib/BootBox/bootbox.min.js"></script>

</head>

<body>
    <!-- Post-Section -->
    <div id="post-section" class="row">
        <h2 class="post-header">Album @Model.Disk.Name</h2>
        <div class="row">
            <div class="col-md-8">

                <form id="form-new-album" class='form-horizontal'>

                   


                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputAlbumName">Album Name:</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="Album Name" value="@Model.Disk.Name" name="AlbumName" id="AlbumName" disabled/>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputLabel">Record Label:</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="Record Label Name" value="@Model.Disk.Label" name="Label" id="inputLabel" disabled />
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputDateRelease">Release Date:</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="date" id="inputDateRelease" value="@Model.Disk.DateCreation" name="DateRelease" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="selectMusicalGenre">Musical Genre</label>
                        </div>
                        <div class="col-xs-9">
                            <!-- multiple data-max-options="5"-->
                            <select class="selectpicker" data-live-search="true" id="selectGenres" name="Genres" data-width="100%" disabled>
                                
                                    <option id="@Model.Disk.CodGenre" data-tokens="@Model.Disk.Genre">@Model.Disk.Genre</option>
                                
                            </select>
                        </div>
                    </div>

                   
                </form>

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />


                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-12 column">
                            <table class="table table-bordered table-hover" id="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">
                                            Name
                                        </th>
                                        <th class="text-center">
                                            Duration
                                        </th>
                                        <th class="text-center">
                                            Live
                                        </th>
                                        <th class="text-center">
                                            Limited Edition
                                        </th>
                                        <th class="text-center">
                                            Link
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var song in Model.Disk.Songs)
                                    {
                                        <tr><td>@song.Name</td><td>@song.Duration</td><td>@song.Type</td><td>@song.LimitedEdition</td><td><a href="@song.Link" target="_blank">Go To Link</a></td></tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br />
                <br />
                <br />

            </div>
            <div class="row ">
                <img id="album-pic" class="img-responsive img-circle" src="~/Users/imageAlbum?Id=@Model.Disk.Id" />
            </div>
        </div>
    </div>
</body>



