@model MyFan_Webapp.Areas.Fans.Models.VMFanProfile
@{
    Layout = "~/Areas/Fans/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>
<html>

<head>


    <title>MyFan</title>
</head>

<body>
    <!-- Container -->
    <div class="container-fluid">
        <!-- Header Section -->
        <div id="header-section" class="row">
            <!-- Left Section -->
            <div class="col-xs-3 left">
                <div class="centerBlock">
                    <!-- Logo -->
                    <img class="img-responsive" src="~/assets/common/img/logo2.png">
                </div>
            </div>
            <!-- Middle Section -->
            <div id="middle-section" class="col-xs-6">
                <!-- Search Box -->
                <div class="row search-box">
                    <div>
                        <div class="col-xs-12">
                            <div class="input-group" id="adv-search">
                                <input type="text" class="form-control" placeholder="Search for your favorite bands and artists..." />
                                <div class="input-group-btn">
                                    <div class="btn-group" role="group">
                                        <div class="dropdown dropdown-lg">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                                <form class="form-horizontal" role="form">

                                                    <div class="form-group">
                                                        <label for="contain">Band/Artist Name</label>
                                                        <input class="form-control" type="text" />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="filter">Contry</label>
                                                        <select class="form-control">
                                                            <option value="0" selected>Any Country</option>
                                                            <option value="1">Costa Rica</option>
                                                            <option value="2">Canada</option>
                                                            <option value="3">United States</option>
                                                            <option value="4">Brazil</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="filter">Genres</label>
                                                        <select class="form-control">
                                                            <option value="0" selected>All Genres</option>
                                                            <option value="1">Rock</option>
                                                            <option value="2">Indie</option>
                                                            <option value="3">Metal</option>
                                                            <option value="4">Reggae</option>
                                                        </select>
                                                    </div>


                                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                                </form>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page Title -->
                <div class="row page-title">
                    <div class="col-md-6 center-block no-float">
                        <h1>My Wall</h1>
                        <h5>@ViewBag.Message</h5>
                    </div>
                </div>
            </div>
            <!-- Right Section -->
            <div id="right-section" class="col-xs-3">
                <div class="row">
                    <!-- Profile Picture -->
                    <div id="user-profile-picture" class="col-xs-6">
                        <img class="img-circle" src="http://media.gamerevolution.com/images/misc/pewdiepie.png">
                    </div>
                    <!-- Profile Info -->
                    <div id="profile-manage" class="col-xs-6">
                        <!-- Welcome Text -->
                        <div class="row">
                            <h3 id="welcome">Hi, You!</h3>
                        </div>
                        <!-- My Profile  -->
                        <div class="row">
                            <h4 id="myprofile"><u>My Profile</u></h4>
                        </div>
                    </div>
                </div>

                <div id="user-button-menu" class="row">
                    <!-- Button Group -->
                    <a class="btn btn-default btn-text" href="~/Fans/">Home <i class="fa fa-home" aria-hidden="true"></i></a>
                    <a class="btn btn-default btn-text" href="~/Logout" >Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
        <!-- Artwork Section -->
        <div id="artwork-section" class="row">
            <div>
                <h2 class="artwork-header">Artwork Section</h2>
            </div>
            <div class="row align-center">

                <!-- Previous -->
                <div id="previous" class="col-md-1">
                    <button class="half-circle">
                        <div class="icon">
                            <i class="fa fa-angle-left  fa-3x" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>
                <div class="col-md-10">

                    @foreach (var band in Model.Bands)
                    {
                        <div class="inline">
                            <img class="img-responsive" src="~/assets/common/img/album.jpg">
                            <p class="artwork-name">@band.Name</p>
                            <small class="artwork-date">@band.DateCreation</small>
                        </div>
                    }
                </div>
                <!-- Next -->
                <div id="next" class="col-md-1">
                    <button class="half-circle">
                        <div class="icon">
                            <i class="fa fa-angle-right  fa-3x" aria-hidden="true"></i>
                        </div>
                    </button>
                </div>

            </div>
        </div>

        <!-- Post-Section -->
        <div id="post-section" class="row">
            <h2 class="post-header">News & Events</h2>

            <!-- Post -->
            @foreach (var Post in Model.Posts)
            {
                <div class="col-lg-8 center-block no-float">
                    <div class="post-box">
                        <div class="row">
                            <div class="col-xs-10 post-title">
                                <h2><u>@Post.Title</u></h2>
                            </div>
                            <div class="col-xs-2 post-date">
                                <h5>@Post.Date</h5>
                            </div>
                        </div>
                        <div class="row post-content">
                            <div class="post-text">@Post.Content</div>
                        </div>
                        <div class="row post-content">
                            <a href="/@Post.Id"><small>Read more...</small></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

</html>

