@model MyFan_Webapp.Areas.Bands.Models.BandProfileViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Bands/Views/Shared/_BandProfileLayout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <!-- jQuery Validate -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <!-- Bootstrap Select -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <!-- Style -->
    <link crossorigin="anonymous" href="~/assets/common/css/foms/Register.css" rel="stylesheet">
    <script src="~/assets/common/js/Processing.js"></script>
    <script src="~/assets/common/js/forms/BandEditForm.js"></script>
    <link rel="stylesheet" href="~/assets/common/css/Profile.css">
    <title>MyFan</title>
</head>
<body>

    <!-- Post-Section -->
    <div id="post-section" class="row">

        <h2 class="post-header">Edit Profile</h2>

        <div class="row">



            <div class="col-md-8">

                <form id="form-edit-band" class='form-horizontal'>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputPicture">Profile Pic</label>
                        </div>
                        <div class="col-xs-9">

                            <label class="btn btn-success btn-file">
                                Browse... <input id="imgInp" name="imgInp" type="file">
                            </label><small>Only 400x400, .jpg .png .gif, less than 2Mb</small>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputUsername">Username</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="Username" value="@Model.Username" name="Username" id="inputUsername" disabled/>
                        </div>
                    </div>

               

           

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputName">Band/Artist Name</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="Name" value="@Model.Name" name="Name" id="inputName" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputName">Hashtag</label>
                        </div>
                        <div class="col-xs-9">
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon2">#</span>
                                <input type="text" class="form-control" id="inputHashtag" value="@Model.Info.Hashtag" placeholder="Hashtag" name="Hashtag" aria-describedby="sizing-addon2" disabled>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputBirthday">Year of Foundation</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="date" id="inputDateCreation" value="@Model.Info.DateCreation" name="DateCreation">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="selectCountry">Country</label>
                        </div>
                        <div class="col-xs-9">
                            <select class="selectpicker" data-live-search="true" value="@Model.Info.Country" name="Country" id="selectCountry" data-width="100%">
                                @foreach (var country in Model.EditForm.locations)
                                {
                                    if (String.Equals(country.Name, @Model.Info.Country))
                                    {
                                        <option id="@country.Id" data-tokens="@country.Name" selected>@country.Name</option>
                                    }
                                    else
                                    {
                                        <option id="@country.Id" data-tokens="@country.Name">@country.Name</option>
                                    }
                                }



                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="selectMusicalGenre">Musical Genres</label>
                        </div>
                        <div class="col-xs-9">
                            <select class="selectpicker" data-live-search="true" id="selectGenres" name="Genres" title="Choose five musical genres" multiple data-max-options="5" data-width="100%">
                                @foreach (var genre in Model.EditForm.genres)
                                {
                                    if (@Model.Info.Genres.Contains(genre.Name))
                                    {
                                        <option id="@genre.Id" data-tokens="@genre.Name" selected>@genre.Name</option>
                                    }
                                    else
                                    {
                                        <option id="@genre.Id" data-tokens="@genre.Name">@genre.Name</option>
                                    }


                                }
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputMembers">Members</label>
                        </div>

                        <input type="hidden" name="count" value="1">
                        <div class="control-group" id="fields">
                            <div class="controls" id="profs">

                                <div id="field">@{
                                    <input autocomplete="off" class="input form-control" id="field0" name="prof0" type="text" placeholder="Member Name" data-items="8" />
                                    <button id="b0" class="btn add-more" type="button">+</button>

                                    int i = 1;
                                    foreach (var member in Model.Info.Members)
                                    {
                                        <input autocomplete="off" class="input form-control" id="@String.Concat("field", i)" name="@String.Concat("prof", i)" type="text" value="@member" data-items="8" />
                                        <button id="@String.Concat("remove", i)" class="btn btn-danger remove-me" type="button">-</button>
                                        i = i + 1;
                                    }
                                    

                                }
                                    

                                    
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="selectTerms">Biography</label>
                        </div>
                        <div class="col-xs-9">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" name="Biography" id="inputBiography">@Model.Info.Biography</textarea>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-offset-4 col-xs-3">
                                <button id="update-form-band" class="btn btn-success">Update</button>
                            </div>
                            <div class="col-xs-3">
                                <a href="~/" class="btn btn-danger">Disable Account</a>
                            </div>
                        </div>
                    </div>

                </form>



            </div>
            <div class="row">

                <img id="profile-pic" class="img-responsive img-circle" src="~/Users/image?Id=@Model.Id" />
            </div>


        </div>
    </div>
</body>
</html>

