@model MyFan_Webapp.Areas.Fans.Models.FanProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Fans/Views/Shared/_FanInBandProfileLayout.cshtml";
}
<!DOCTYPE html>

<head>
    <title>MyFan</title>
    <script src="~/assets/common/js/Events.js"></script>
    <script>GetEventReviews(@Model.Id, @Model.BandProfile.Id,@Model.BandProfile.Event.Id,@(Model.BandProfile.Event.IsConcert ? "true":"false")  );</script>
</head>

<body>
    <!-- Post-Section -->
    <div id="post-section" class="row">
        <h2 class="post-header">Event</h2>

        <div class="row">
            <div class="col-md-6">
                <h3><b>Title:</b> @Model.BandProfile.Event.Title</h3>
                <h3><b>Date:</b> @Model.BandProfile.Event.Date</h3>
                <h3><b>Time:</b> @Model.BandProfile.Event.Time</h3>
                @if (@Model.BandProfile.Event.IsConcert == true)
                {
                    <h3><b>Concert:</b> Yes</h3>
                }
                else
                {
                    <h3><b>Concert:</b> No</h3>
                }
                @if (String.Equals(@Model.BandProfile.Event.State, "0"))
                {
                    <h3><b>State:</b> Pending</h3>
                }
                @if (String.Equals(@Model.BandProfile.Event.State, "1"))
                {
                    <h3><b>State:</b> Finalized</h3>
                }
                else if (String.Equals(@Model.BandProfile.Event.State, "2"))
                {
                    <h3><b>State:</b> Cancelled</h3>
                }

                <h3><b>Location</b>: @Model.BandProfile.Event.Location</h3>
                <h3><b>Content:</b> </h3>
                <h3 class="prevent-overflow">@Model.BandProfile.Event.Description</h3>

            </div>
            <div id="reviews_show" class="col-md-3">
                <div id="review-section-title" class="row">
                    <h2>Event Reviews</h2>
                </div>
                <!-- Review Header 
                <div id="review-section-viewing" class="row">
                    <div class="row ">
                        <div class="col-xs-12 review-box">
                           
                            <div class="row">
                            
                                <div class="col-xs-6 review-user"><h3>Santiago</h3></div>
                               
                                <div class="col-xs-6"><img class="img-circle" src="~/assets/common/img/califications/Acetato-original.png"></div>
                            </div>

                            <div class="row">
                                
                                <div class="col-xs-12">
                                    <p>User comment goes here, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</body>
