@model MyFan_Webapp.Areas.Fans.Models.FanProfileViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Fans/Views/Shared/_FanInBandProfileLayout.cshtml";
}
<!DOCTYPE html>

<head>
    <title>MyFan</title>
</head>

<body>
    <!-- Post-Section -->
    <div id="post-section" class="row">
        <h2 class="post-header">Create Event</h2>
        <div class="row">
            <div class="col-md-10">

                <form id="form-new-event" class='form-horizontal'>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputEventName">Title:</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" value="@Model.BandProfile.Event.Title" name="EventTitle" id="EventTitle" disabled/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-5 col-xs-offset-3">
                            <div class="form-group">
                                <div class="col-xs-3 text-right">
                                    <label for="inputDate">Date:</label>
                                </div>
                                <div class="col-xs-6">
                                    <input type="date" class="form-control" value="@Model.BandProfile.Event.Date" name="EventDate" id="EventDate" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <div class="col-xs-3 text-right">
                                    <label for="inputTime">Time:</label>
                                </div>
                                <div class="col-xs-6">
                                    <input type="time" class="form-control" value="@Model.BandProfile.Event.Time" name="EventTime" id="EventTime" disabled />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputDate">Event Type:</label>
                        </div>
                        <div class="col-xs-6">
                            <select class="selectpicker" id="EventTypeID" value="@Model.BandProfile.Event.IsConcert" name="EventType" data-width="100%" disabled>
                                <option id="true">Concert</option>
                                <option id="false">Not Concert</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputDate">Event State:</label>
                        </div>
                        <div class="col-xs-6">
                            <select class="selectpicker" id="EventStateID" name="EventState" data-width="100%">
                                <option id="0" selected>Pending</option>
                                <option id="1">Finalized</option>
                                <option id="2">Cancelled</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputLocation">Location:</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" value="@Model.BandProfile.Event.Location" name="EventLocation" id="EventLocation" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputContent"></label>
                        </div>
                        <div class="col-xs-9">
                            <div class="form-group">
                                <textarea class="form-control" rows="10" name="EventContent" id="EventContent" disabled>@Model.BandProfile.Event.Description</textarea>
                            </div>

                        </div>
                    </div>



                </form>

            </div>

        </div>
    </div>
</body>


